body{

text-align: center;
background-attachment: fixed;
color: #F2E291;
}
h2{
  font-family: AIGDT;
}

h6{
  text-align: center;
  color: #B3B2B2;
   font-family: times new roman
}

href{
  color: #B3B2B2;

}

head{
text-align:center;
color: green;

}
h4{
  color: #B3B2B2;
}
button{

  background-color: #F2E291;
  text-decoration: underline;
}
h5{
  text-align: justify;
}
form{

background-color: #F2E291;
}
input{
  width: 100%
  margin: 20px;
  padding: 7px;
}
#boton{
  background: #F2E291;
}

button{

  cursor: pointer;
}

@media (max-width:480px){

}

p{
  color: #B3B2B2;
}
