body{
  background-color: #E8DB8F;
 text-decoration-color: #90833C;
  text-align: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: Stylus BT;

}
